.cool-green-bg-color {
  background: $cool-green-color !important;
}

.cool-gray-color {
  background: $cool-gray-color !important;
}

.bg-orange {
  background: #DF4D2D !important;
}

.primary-bg-green {
  background: #127652 !important;
}

