.header, .footer {
  background: $primary-color;
  color: white;
  text-align: center;
  padding: 1.5rem 0;
}

.main {

}

.hero {
  @include flex-center;
  flex-direction: column;
  text-align: center;
  background: $primary-color, 40%;
  padding: 3rem;
  border-radius: 12px;
  margin-bottom: 2rem;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1500px !important;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1440px !important;
    }
}