.text-center {
  text-align: center;
}

.mt-2 {
  margin-top: 1rem;
}

.primary-green-color {
  color: #127664 !important;
}

.secondary-green-color {
  color: #2B956F !important;
}

.primary-blue-bg-color {
  color: #003366;
}
